$fontstack: 'Montserrat', sans-serif;

.articleFull{
    display: flex;
    border-radius:2px;
    max-width: 910px;
    height: 100%;
    margin: 25px 0px 0px 0px;
    border: none;
    background-color: #FFE4E4;

        img{
            margin: 10px 0px 0px 10px;
            height: 200px;
            width: 200px;
        }
}

.articleFull__text{
    margin: 10px 10px 0px 10px;
    width: 80%;
    display: flex;
    flex-flow: column;
        h2{
            font-weight: bold;
            font-family: $fontstack;
            text-align: center;
        }

        p{
            font-family: $fontstack;
            text-align: center;
        }
}