.wrapper{
    display: flex;
    justify-content: space-around;
}

.block{
    border-radius: 10px;
    width: 245px;
    height: 165px;
    background-color: #E8E8E8;
    margin-top: 60px;
    margin-right: 15px;
    margin-left: 15px;
}

.thumb{
    background:url(../../assets/img/images/snekker_thb.jpg);
    width:210px;
    height: 145px;
}