.App{
  background: url("../../assets/img/backgrounds/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.navigation{
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.navigation__title{
  margin-top: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
}

.header {
  width: 1240px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #622424;
  color: white;
  }

.App__title{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.App__title--h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.App__title--h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  margin-left: 400px;
  margin-right: auto;
}

.App__title--p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  margin-left: 395px;
  margin-right: auto;
}

main{
  display: flex;
  justify-content: space-around;
  width: 1240px;
  height: 960px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: #622424;
}

footer{
  width: 1240px;
  height: 250px;
  border-radius: 10px;
  background-color: #622424;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.social{
  display: flex;
  justify-content: center;
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.fab{
  color: #000000;
}



/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
