.wrapperArticle{
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.wrapperArticle__header{
    border: none;
    padding: 0;
    margin: 0;
}

.wrapperArticle__elements{
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.wrapperArticle__elements__main{
    border: none;
    padding: 0;
    margin: 0;
}

.wrapperArticle__elements__aside{
    width: 400px;
    border: none;
    padding: 0;
    margin: 25px 20px 0px 20px;
}